language: shell
services:
- docker
#stages:
#- name: build
#  if: tag IS blank
#- name: release
#  if: tag IS present


env:
  global:
  - BASE_REPO=$DOCKER_USER/hexo-nginx-https
  - DOCKER_TAG=${TRAVIS_COMMIT:0:7}
  - DEV_REPO=${BASE_REPO}:$DOCKER_TAG
  - RELEASE_REPO=${BASE_REPO}:$TRAVIS_TAG
  - LATEST_REPO=${BASE_REPO}:latest

before_install:
- env
- docker login -u$DOCKER_USER -p$DOCKER_PASS
install:
- if [[ -z "$TRAVIS_TAG" ]]; then # build
    docker build . -f arm32.Dockerfile -t ${BASE_REPO}:arm32_"$DEV_REPO" && docker push ${BASE_REPO}:arm32_"$DEV_REPO"; # arm32
    docker build . -f arm64.Dockerfile -t ${BASE_REPO}:arm64_"$DEV_REPO" && docker push ${BASE_REPO}:arm64_"$DEV_REPO"; # arm64
    docker build . -f Dockerfile -t ${BASE_REPO}:"$DEV_REPO" && docker push ${BASE_REPO}:"$DEV_REPO"; # arm32
  fi
- if [[ -n "$TRAVIS_TAG" ]]; then
  docker pull ${BASE_REPO}:arm32_"$DEV_REPO" && \
  docker tag ${BASE_REPO}:arm32_"${DEV_REPO}" ${BASE_REPO}:arm32_"${TRAVIS_TAG}" && \
  docker tag $DEV_REPO $LATEST_REPO && \
  docker push $RELEASE_REPO && docker push $LATEST_REPO;
  fi # release

